*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/admin/build
/.build-outputs
debug.keystore
debug.keystore.base64
captures
.externalNativeBuild
.cxx

# Ensure binary outputs are included
!OTA_Updater.apk
!OTA_Admin.apk
